<h6 class="title">Comments</h6>
<div class='fbbox-comments' style='width:100%;margin-top:20px'>
	<div class='fb-comments' data-num-posts='2' data-width='100%' expr:data-href='data:blog.url'></div>
</div>
<div id='fb-root'></div>
<script type='text/javascript'>
//<![CDATA[
(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
//]]>
</script> 