<div class="row mx-0">
    {{with .PrevInSection}}
    <div class="col-sm-12 col-lg-4 text-center">
        <div class="card mb-0">
            <a href="{{ .Permalink }}">
                <img class="card-img radius-2"
                    src="{{ if eq .Params.Image "" }}https://placeholder.pics/svg/320x160{{else}}{{ .Params.Image}}{{end}}"
                    alt="{{ .Title | markdownify }}">
            </a>
            <div class="card-img px-3 mt-2 mb-3 align-items-center justify-content-center">
                <a class="card-title font-weight-bold" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </div>
        </div>
    </div>
    {{end}}
    <div class="col-sm-12 col-lg-4">
        <!-- spacer -->
    </div>
    {{with .NextInSection}}
    <div class="col-sm-12 col-lg-4 text-center">
        <div class="card mb-0">
            <a href="{{ .Permalink }}">
                <img class="card-img radius-2"
                    src="{{ if eq .Params.Image "" }}https://placeholder.pics/svg/320x160{{else}}{{ .Params.Image}}{{end}}"
                    alt="{{ .Title | markdownify }}"></a>
            <div class="card-img px-3 mt-2 mb-3 align-items-center justify-content-center">
                <a class="card-title font-weight-bold" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </div>
        </div>
    </div>
    {{end}}
</div>